Repository dotnet/maui: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

azure-pipelines.yml:
  schedules:
  - cron: 0 0 * * *
    displayName: Daily midnight build
    branches:
      include:
      - main
  stages:
  - stage: windows
    displayName: Build Windows
    jobs:
    - job: win_hosted
      condition: eq(variables['vs2019VmPool'], 'Azure Pipelines')
      workspace:
        clean: all
  ...

eng/pipelines/azure-pipelines-internal.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Run daily at 5:00 UTC
    branches:
      include:
      - main
      - net9.0
  extends:
    ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    ${{ else }}:
  ...

eng/pipelines/azure-pipelines-public.yml:
  stages:
  - template: /eng/pipelines/arcade/stage-helix-tests.yml@self
    parameters:
      ${{ if eq(variables['Build.DefinitionName'], 'maui-pr') }}:
        helixPool: ${{ parameters.WindowsPool.public }}
        runAsPublic: true
        helixInternal: 'False'
      ${{ else }}:
  ...

eng/pipelines/azure-pipelines.yml:
  extends:
    ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    ${{ else }}:
      template: v1/1ES.Unofficial.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool: ${{ parameters.VM_IMAGE_HOST }}
      sdl:
  ...

eng/pipelines/ci-device-tests.yml:
  stages:
  - ${{ each targetFrameworkVersion in parameters.targetFrameworkVersions }}:
    - template: /eng/pipelines/arcade/stage-device-tests.yml@self
      parameters:
        ${{ if eq(variables['System.TeamProject'], 'internal') }}:
          buildPool: ${{ parameters.macOSPoolInternal }}
  ...

eng/pipelines/ci-official.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Run daily at 5:00 UTC
    branches:
      include:
      - main
      - net*.0
      - inflight/current
    always: true
  extends:
    ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  ...

eng/pipelines/ci-uitests.yml:
  stages:
  - template: common/ui-tests.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'internal') }}:
        androidPool: ${{ parameters.androidPoolInternal }}
        androidLinuxPool: ${{ parameters.androidPoolLinuxInternal }}
        iosPool: ${{ parameters.iosPoolInternal }}
  ...

eng/pipelines/ci.yml:
  stages:
  - template: /eng/pipelines/arcade/stage-helix-tests.yml@self
    parameters:
      ${{ if eq(variables['Build.DefinitionName'], 'maui-pr') }}:
        helixPool: ${{ parameters.WindowsPool.public }}
        runAsPublic: true
        helixInternal: 'False'
      ${{ else }}:
  ...

eng/pipelines/ui-tests.yml:
  stages:
  - template: common/ui-tests.yml
    parameters:
      androidPool: ${{ parameters.androidPool }}
      androidLinuxPool: ${{ parameters.androidPoolLinux }}
      iosPool: ${{ parameters.iosPool }}
      windowsPool: ${{ parameters.windowsPool }}
  ...

Generate C# style dictionaries for --ui csharp
  src/Templates/src/templates/maui-mobile/.template.config/localize/templatestrings.json
  src/Templates/src/templates/maui-mobile/.template.config/template.json
  src/Templates/src/templates/maui-mobile/App-CSharp.cs
  src/Templates/src/templates/maui-mobile/Resources/Styles/Colors-CSharp.cs
  src/Templates/src/templates/maui-mobile/Resources/Styles/Styles-CSharp.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml

Fix MacCatalyst crash in --ui csharp template
  src/Templates/src/templates/maui-mobile/Resources/Styles/Styles-CSharp.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml

Realign MSBuildTests to new XamlC gate
  src/Controls/tests/Xaml.UnitTests/MSBuild/MSBuildTests.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Test polish per review consensus
  src/Controls/tests/Xaml.UnitTests/MSBuild/MSBuildTests.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Refactor C# MainPage template with Build() pattern + inline Hot Reload handler
  src/Templates/src/templates/maui-mobile/MainPage-CSharp.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml

Hook _PrepareTrimConfiguration to fix IL3050 on Android NativeAOT
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.targets
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Use MAUI's [OnHotReload] hook instead of MetadataUpdateHandler
  src/Templates/src/templates/maui-mobile/MainPage-CSharp.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml

Add delegate-based alert dialog extensibility convention
  src/Controls/src/Core/ActionSheetArguments.cs
  src/Controls/src/Core/AlertArguments.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.cs
  src/Controls/src/Core/Platform/AlertManager/DelegateAlertSubscription.cs
  src/Controls/src/Core/PromptArguments.cs
  src/Controls/tests/Core.UnitTests/AlertManagerTests.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Add keyed-DI screenshot extensibility for 3rd-party platform backends
  src/Core/src/ScreenshotDispatch.cs
  src/Core/src/ViewExtensions.cs
  src/Core/src/WindowExtensions.cs
  src/Core/tests/UnitTests/Extensions/ScreenshotDispatchTests.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Wire MainPage Hot Reload via both [OnHotReload] and [MetadataUpdateHandler]
  src/Templates/src/templates/maui-mobile/MainPage-CSharp.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml

Remove nonfunctional Hot Reload plumbing from --ui csharp template
  src/Templates/src/templates/maui-mobile/MainPage-CSharp.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml

Address PR review feedback on screenshot keyed-DI extensibility
  src/Core/src/ScreenshotDispatch.cs
  src/Core/tests/UnitTests/Extensions/ScreenshotDispatchTests.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

[Essentials] Use mean sea level altitude on Android API 34+
  src/Essentials/src/Types/LocationExtensions.android.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Add page-replacement Hot Reload handler to --ui csharp template
  src/Templates/src/templates/maui-mobile/MainPage-CSharp.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml

Remove dead [MetadataUpdateHandler] from --ui csharp template
  src/Templates/src/templates/maui-mobile/MainPage-CSharp.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml

Move Mac UI tests to ACES Shared Infra
  eng/pipelines/ci-uitests.yml
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Move feature switch defaults and RHCO items to static evaluation
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.targets
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Remove XamlC-opt-in tests in MSBuildTests
  src/Controls/tests/Xaml.UnitTests/MSBuild/MSBuildTests.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Document SG-default contract on MSBuildTests
  src/Controls/tests/Xaml.UnitTests/MSBuild/MSBuildTests.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

[Android] Material 3 Fixed BottomNavigationView overflowing in Tabbed page (#35064)
  src/Controls/src/Core/Platform/Android/TabbedPageManager.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android-notch-36/Material3_TabbedPage_BottomTabsOverflowingContents.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue35063.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue35063.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

[iOS] Fix Shell page memory leak when using TitleView with x:Name (#35082)
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellPageRendererTracker.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue34975.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue34975SecondPage.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue34975SecondPage.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue34975.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Address multi-model review: extract MainThreadBridgeInitializer, add async test, improve docs
  src/Core/src/Hosting/EssentialsMauiAppBuilderExtensions.cs
  src/Core/tests/UnitTests/Hosting/MainThreadBridgeTests.cs
  src/Essentials/src/MainThread/MainThread.shared.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Integrate code-review skill into pr-review Pre-Flight and Try-Fix (#34994)
  .github/pr-review/pr-preflight.md
  .github/pr-review/pr-report.md
  .github/scripts/Review-PR.ps1
  .github/scripts/post-ai-summary-comment.ps1
  .github/scripts/post-gate-comment.ps1
  .github/skills/code-review/SKILL.md
  .github/skills/pr-review/SKILL.md
  .github/skills/run-device-tests/scripts/Run-DeviceTests.ps1
Due: azure-pipelines.yml

Refactored the fix
  src/Controls/src/Core/Handlers/Items/Android/MauiRecyclerView.cs
  src/Core/src/Platform/Android/AppBarLiftTargetHelper.cs
  src/Core/src/Platform/Android/MauiScrollView.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Removed unwanted import
  src/Controls/src/Core/Handlers/Items/Android/MauiRecyclerView.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Add UI test category detection, pipeline integration, and PR review workflow
  .github/pr-review/pr-preflight.md
  .github/scripts/Review-PR.ps1
  .github/scripts/post-ai-summary-comment.ps1
  .github/scripts/post-uitest-categories-comment.ps1
  .github/scripts/trigger-uitest-pipeline.ps1
  eng/pipelines/ci-copilot.yml
  eng/pipelines/ci-uitests.yml
  eng/pipelines/common/ui-tests-steps.yml
  eng/pipelines/common/ui-tests.yml
  eng/scripts/detect-ui-test-categories.ps1
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Address review: fail fast on alert delegate contract violations + tests
  src/Controls/src/Core/ActionSheetArguments.cs
  src/Controls/src/Core/AlertArguments.cs
  src/Controls/src/Core/Platform/AlertManager/DelegateAlertSubscription.cs
  src/Controls/src/Core/PromptArguments.cs
  src/Controls/tests/Core.UnitTests/AlertManagerTests.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Fixes for azure artifacts maven
  src/Core/AndroidNative/build.gradle
  src/Core/AndroidNative/gradle/wrapper/gradle-wrapper.properties
  src/Core/AndroidNative/settings.gradle
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Shell route templates: spec + standalone prototype (28 passing tests)
  docs/specs/shell-route-templates.md
  prototype/Directory.Build.props
  prototype/Directory.Build.targets
  prototype/Directory.Packages.props
  prototype/ShellRouteTemplates.Tests/RouteTemplateTests.cs
  prototype/ShellRouteTemplates.Tests/ShellRouteTemplates.Tests.csproj
  prototype/ShellRouteTemplates/RouteTable.cs
  prototype/ShellRouteTemplates/RouteTemplate.cs
  prototype/ShellRouteTemplates/ShellRouteTemplates.csproj
  prototype/ShellRouteTemplates/UriParser.cs
  prototype/global.json
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

feat: Shell route templates with {param} path parameters
  prototype/Directory.Build.props
  prototype/Directory.Build.targets
  prototype/Directory.Packages.props
  prototype/ShellRouteTemplates.Tests/RouteTemplateTests.cs
  prototype/ShellRouteTemplates.Tests/ShellRouteTemplates.Tests.csproj
  prototype/ShellRouteTemplates/RouteTable.cs
  prototype/ShellRouteTemplates/RouteTemplate.cs
  prototype/ShellRouteTemplates/ShellRouteTemplates.csproj
  prototype/ShellRouteTemplates/UriParser.cs
  prototype/global.json
  src/Controls/src/Core/Routing.cs
  src/Controls/src/Core/Shell/RequestDefinition.cs
  src/Controls/src/Core/Shell/RouteRequestBuilder.cs
  src/Controls/src/Core/Shell/RouteTemplate.cs
  src/Controls/src/Core/Shell/ShellNavigationManager.cs
  src/Controls/src/Core/Shell/ShellUriHandler.cs
  src/Controls/tests/Core.UnitTests/ShellRouteTemplatesTests.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Remove code that disabled the feature
  docs/design/FeatureSwitches.md
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.targets
  src/Core/src/RuntimeFeature.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

fix: address review feedback — reject unsupported syntax, fix param loss, add 9 new tests
  src/Controls/samples/Controls.Sample.Sandbox/App.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/MainPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/MainPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/ProductPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/ProductPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/ReviewPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/ReviewPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/SandboxShell.xaml
  src/Controls/samples/Controls.Sample.Sandbox/SandboxShell.xaml.cs
  src/Controls/src/Core/Shell/RequestDefinition.cs
  src/Controls/src/Core/Shell/RouteRequestBuilder.cs
  src/Controls/src/Core/Shell/RouteTemplate.cs
  src/Controls/src/Core/Shell/ShellSection.cs
  src/Controls/src/Core/Shell/ShellUriHandler.cs
  src/Controls/tests/Core.UnitTests/ShellRouteTemplatesTests.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Fix critical bugs, add missing tests, rebase onto latest main
  docs/design/FeatureSwitches.md
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.targets
  src/Controls/src/SourceGen/QueryPropertyGenerator.cs
  src/Controls/src/SourceGen/QueryPropertyGenerator.md
  src/Controls/tests/SourceGen.UnitTests/QueryPropertyGeneratorTests.cs
  src/Core/src/RuntimeFeature.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Split QueryPropertyGeneratorTests into focused test files
  src/Controls/tests/SourceGen.UnitTests/QueryPropertyGeneratorDiagnosticTests.cs
  src/Controls/tests/SourceGen.UnitTests/QueryPropertyGeneratorTestBase.cs
  src/Controls/tests/SourceGen.UnitTests/QueryPropertyGeneratorTests.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Move ReconnectModal.razor.js to its own Microsoft files ItemGroup
  eng/Signing.props
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

feat: optional params, catch-all, constraints, mixed segments, default values
  src/Controls/samples/Controls.Sample.Sandbox/MainPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/MainPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/OrderDetailPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/OrderDetailPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/OrdersPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/OrdersPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/ReviewPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/ReviewPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/SandboxShell.xaml
  src/Controls/samples/Controls.Sample.Sandbox/SandboxShell.xaml.cs
  src/Controls/src/Core/Shell/RouteRequestBuilder.cs
  src/Controls/src/Core/Shell/RouteTemplate.cs
  src/Controls/tests/Core.UnitTests/ShellRouteTemplatesTests.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Move QueryPropertyGenerator docs into XML doc comments, remove standalone .md
  src/Controls/src/SourceGen/QueryPropertyGenerator.cs
  src/Controls/src/SourceGen/QueryPropertyGenerator.md
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Skip reflection path when IQueryAttributable handles query properties
  src/Controls/src/Core/Shell/QueryPropertyAttribute.cs
  src/Controls/src/Core/Shell/ShellContent.cs
  src/Controls/src/Core/TrimmerConstants.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Fix QueryPropertyAttribute doc: class must be partial (error, not fallback)
  src/Controls/src/Core/Shell/QueryPropertyAttribute.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Change MAUI1200 from Error to Warning, preserve reflection fallback
  src/Controls/src/Core/Shell/QueryPropertyAttribute.cs
  src/Controls/src/SourceGen/AnalyzerReleases.Unshipped.md
  src/Controls/src/SourceGen/Descriptors.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Path conditions:
  azure-pipelines.yml: any file but: README.md
  eng/pipelines/azure-pipelines-internal.yml: any of: *, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/azure-pipelines-public.yml: any of: *, but not: **.md, eng/Version.Details.xml, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/azure-pipelines.yml: any of: *, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/ci-device-tests.yml: any of: *, but not: .github, docs, src/Templates, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/ci-official.yml: any of: *, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/ci-uitests.yml: any of: *, but not: .github, docs, src/Templates, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/ci.yml: any of: *, but not: **.md, eng/Version.Details.xml, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/device-tests.yml: any of: *, but not: .github, docs, src/Templates, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/handlers.yml: any of: *, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/maui-release.yml: any of: *, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/ui-tests.yml: any of: *, but not: .github, docs, src/Templates, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
