Repository dotnet/maui: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

azure-pipelines.yml:
  schedules:
  - cron: 0 0 * * *
    displayName: Daily midnight build
    branches:
      include:
      - main
  stages:
  - stage: windows
    displayName: Build Windows
    jobs:
    - job: win_hosted
      condition: eq(variables['vs2019VmPool'], 'Azure Pipelines')
      workspace:
        clean: all
  ...

eng/pipelines/device-tests.yml:
  stages:
  - template: common/device-tests.yml
    parameters:
      ? ${{ if or(parameters.BuildEverything, and(ne(variables['Build.Reason'], 'PullRequest'), eq(variables['System.TeamProject'], 'devdiv'))) }}
      : androidApiLevels:
        - 30
        - 29
        - 28
        - 27
        - 26
        - 25
  ...

eng/pipelines/handlers.yml:
  schedules:
  - cron: 0 0 * * *
    displayName: Daily midnight build
    branches:
      include:
      - main
  stages:
  - stage: build_net6
    displayName: Build .NET 6
    dependsOn: []
    jobs:
    - ${{ each BuildPlatform in parameters.BuildPlatforms }}:
  ...

Update device-tests.yml
  eng/pipelines/common/device-tests.yml
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

Add packages to ignore
  .github/dependabot.yml
Due: azure-pipelines.yml

Add packages to ignore (#6299)
  .github/dependabot.yml
Due: azure-pipelines.yml

[Android] SelectableItemsViewAdapter: update SelectableViewHolder on selection changes (#6249)
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/SelectionGalleries/SelectionGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/SelectionGalleries/VisualStatesGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/SelectionGalleries/VisualStatesGallery.xaml.cs
  src/Controls/src/Core/Handlers/Items/Android/Adapters/SelectableItemsViewAdapter.cs
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

move the pool info to the out pipeline
  eng/pipelines/common/device-tests.yml
  eng/pipelines/device-tests.yml
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

this
  eng/pipelines/device-tests.yml
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

Fix labels
  .github/dependabot.yml
Due: azure-pipelines.yml

sadfasdf
  eng/pipelines/common/device-tests.yml
  eng/pipelines/device-tests.yml
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

:)
  eng/pipelines/device-tests.yml
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

[Blazor] Use static AppOriginUri everywhere (#5941)
  src/BlazorWebView/src/Maui/Android/AndroidWebKitWebViewManager.cs
  src/BlazorWebView/src/Maui/Windows/WinUIWebViewManager.cs
  src/BlazorWebView/src/Maui/iOS/BlazorWebViewHandler.iOS.cs
  src/BlazorWebView/src/Maui/iOS/IOSWebViewManager.cs
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

that
  eng/pipelines/device-tests.yml
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

oops
  src/Essentials/src/Map/Map.tizen.cs
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

Use Android AppCompat Everywhere
  src/Core/src/Platform/Android/MauiDatePicker.cs
  src/Core/src/Platform/Android/MauiPicker.cs
  src/Core/src/Platform/Android/MauiTimePicker.cs
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

fix the project
  src/Essentials/src/Essentials.csproj
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

[dependabot] Add Microsoft.DotNet.XHarness to ignore
  .github/dependabot.yml
Due: azure-pipelines.yml

Empty Normal VSM styles
  src/Templates/src/templates/maui-mobile/Resources/Styles.xaml
Due: azure-pipelines.yml, eng/pipelines/handlers.yml

Use Background and brushes just for Page and NavPage
  src/Templates/src/templates/maui-mobile/Resources/Styles.xaml
Due: azure-pipelines.yml, eng/pipelines/handlers.yml

Bump to rc3
  GitInfo.txt
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

Bump to rc3
  src/Graphics/GitInfo.txt
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

Add ImageButton opacity property in outside of VSM
  src/Templates/src/templates/maui-mobile/Resources/Styles.xaml
Due: azure-pipelines.yml, eng/pipelines/handlers.yml

Fix #6103
  src/Controls/src/Core/HandlerImpl/Application.Impl.cs
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

Add VC Redist dependency to Windows templates
  src/Templates/src/templates/maui-blazor/Platforms/Windows/Package.appxmanifest
  src/Templates/src/templates/maui-mobile/Platforms/Windows/Package.appxmanifest
Due: azure-pipelines.yml, eng/pipelines/handlers.yml

Updated project templates
  src/Templates/src/templates/maui-mobile/AppShell.xaml
Due: azure-pipelines.yml, eng/pipelines/handlers.yml

Add Essentials Maps TryOpen (#5834)
  src/Essentials/samples/Samples/Platforms/Android/AndroidManifest.xml
  src/Essentials/samples/Samples/ViewModel/MapsViewModel.cs
  src/Essentials/src/Launcher/Launcher.android.cs
  src/Essentials/src/Map/Map.android.cs
  src/Essentials/src/Map/Map.ios.watchos.macos.cs
  src/Essentials/src/Map/Map.netstandard.tvos.cs
  src/Essentials/src/Map/Map.shared.cs
  src/Essentials/src/Map/Map.tizen.cs
  src/Essentials/src/Map/Map.uwp.cs
  src/Essentials/src/Platform/PlatformUtils.android.cs
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

Update Package.appxmanifest
  src/Templates/src/templates/maui-blazor/Platforms/Windows/Package.appxmanifest
Due: azure-pipelines.yml, eng/pipelines/handlers.yml

Update Package.appxmanifest
  src/Templates/src/templates/maui-mobile/Platforms/Windows/Package.appxmanifest
Due: azure-pipelines.yml, eng/pipelines/handlers.yml

Ensure only one HeadingLevel=Level1 is present
  src/Templates/src/templates/maui-mobile/MainPage.xaml
Due: azure-pipelines.yml, eng/pipelines/handlers.yml

Allow un-setting of Core Width/Height with -1 via Controls Width/HeightRequest Fixes #6107
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.Impl.cs
  src/Controls/tests/Core.UnitTests/VisualElementTests.cs
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

[ci] Remove pool demands for device tests (#6224)
  eng/pipelines/common/device-tests.yml
  eng/pipelines/device-tests.yml
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

Fix LinebreakMode tests for Windows Fixes #6084
  src/Controls/tests/DeviceTests/Elements/Label/LabelTests.cs
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

Disable tests in sample projects
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample.csproj
  src/Essentials/samples/Samples/Essentials.Sample.csproj
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

Ensure only one HeadingLevel=Level1 is present (#6322)
  src/Templates/src/templates/maui-mobile/MainPage.xaml
Due: azure-pipelines.yml, eng/pipelines/handlers.yml

Allow un-setting of Core Width/Height with -1 via Controls Width/HeightRequest (#6323)
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.Impl.cs
  src/Controls/tests/Core.UnitTests/VisualElementTests.cs
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

Fix LinebreakMode tests for Windows (#6324)
  src/Controls/tests/DeviceTests/Elements/Label/LabelTests.cs
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

Return zero for scaled screen size when density is zero Fixes #5946
  src/Controls/src/Core/DisplayInfoExtensions.cs
  src/Controls/tests/Core.UnitTests/DeviceUnitTests.cs
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

Handle content hiding separately for hot restart scenarios
  src/BlazorWebView/src/Maui/build/Microsoft.AspNetCore.Components.WebView.Maui.targets
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

Use Android AppCompat Everywhere (#6306)
  src/Core/src/Platform/Android/MauiDatePicker.cs
  src/Core/src/Platform/Android/MauiPicker.cs
  src/Core/src/Platform/Android/MauiTimePicker.cs
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

Suppress a warning in sample program
  src/Templates/src/templates/maui-blazor/MauiProgram.cs
Due: azure-pipelines.yml, eng/pipelines/handlers.yml

Remove unneeded version caused by bad merging
  eng/Versions.props
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml

Path conditions:
  azure-pipelines.yml: any file but: README.md
  eng/pipelines/device-tests.yml: any of: *, but not: .github, docs, src/Templates, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/handlers.yml: any of: *, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
