Repository dotnet/maui: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

azure-pipelines.yml:
  schedules:
  - cron: 0 0 * * *
    displayName: Daily midnight build
    branches:
      include:
      - main
  stages:
  - stage: windows
    displayName: Build Windows
    jobs:
    - job: win_hosted
      condition: eq(variables['vs2019VmPool'], 'Azure Pipelines')
      workspace:
        clean: all
  ...

eng/pipelines/azure-pipelines-internal.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Run daily at 5:00 UTC
    branches:
      include:
      - main
      - net9.0
  extends:
    ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    ${{ else }}:
  ...

eng/pipelines/azure-pipelines-public.yml:
  stages:
  - template: /eng/pipelines/arcade/stage-helix-tests.yml@self
    parameters:
      ${{ if eq(variables['Build.DefinitionName'], 'maui-pr') }}:
        helixPool: ${{ parameters.WindowsPool.public }}
        runAsPublic: true
        helixInternal: 'False'
      ${{ else }}:
  ...

eng/pipelines/azure-pipelines.yml:
  extends:
    ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    ${{ else }}:
      template: v1/1ES.Unofficial.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool: ${{ parameters.VM_IMAGE_HOST }}
      sdl:
  ...

eng/pipelines/ci-device-tests.yml:
  stages:
  - ${{ each targetFrameworkVersion in parameters.targetFrameworkVersions }}:
    - template: /eng/pipelines/arcade/stage-device-tests.yml@self
      parameters:
        pool: ${{ parameters.macOSPool }}
        runAsPublic: true
        TargetFrameworkVersion: ${{ targetFrameworkVersion.tfm }}
  ...

eng/pipelines/ci-official.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Run daily at 5:00 UTC
    branches:
      include:
      - main
      - net*.0
      - inflight/current
    always: true
  extends:
    ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  ...

eng/pipelines/ci-uitests.yml:
  stages:
  - template: common/ui-tests.yml
    parameters:
      ${{ if eq(variables['System.TeamProject'], 'internal') }}:
        androidPool: ${{ parameters.androidPoolInternal }}
        androidLinuxPool: ${{ parameters.androidPoolLinuxInternal }}
        iosPool: ${{ parameters.iosPoolInternal }}
  ...

eng/pipelines/ci.yml:
  stages:
  - template: /eng/pipelines/arcade/stage-helix-tests.yml@self
    parameters:
      ${{ if eq(variables['Build.DefinitionName'], 'maui-pr') }}:
        helixPool: ${{ parameters.WindowsPool.public }}
        runAsPublic: true
        helixInternal: 'False'
      ${{ else }}:
  ...

eng/pipelines/ui-tests.yml:
  stages:
  - template: common/ui-tests.yml
    parameters:
      androidPool: ${{ parameters.androidPool }}
      androidLinuxPool: ${{ parameters.androidPoolLinux }}
      iosPool: ${{ parameters.iosPool }}
      windowsPool: ${{ parameters.windowsPool }}
  ...

Delete pr-33415.md
  .github/agent-pr-session/pr-33415.md
Due: azure-pipelines.yml

Review complete - APPROVE
  .github/agent-pr-session/pr-33451.md
Due: azure-pipelines.yml

Starting Fix phase
  .github/agent-pr-session/pr-33451.md
Due: azure-pipelines.yml

Fix ApplyQueryAttributes called with empty dictionary on back
  src/Controls/src/Core/Shell/ShellNavigationManager.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue33415.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue33415.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Update state file with PR #33451
  .github/agent-pr-session/pr-33415.md
Due: azure-pipelines.yml

Fix phase complete - selected fix: PR's fix (more targeted, lower risk)
  .github/agent-pr-session/pr-33451.md
Due: azure-pipelines.yml

[Android] Fix OnBackButtonPressed not firing for Shell Navigation Bar back button
  .github/agent-pr-session/pr-33523.md
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellToolbarTracker.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue33523.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue33523.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Improve test assertion: verify exact text instead of just length
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue32016.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Add support for ShouldChangeCharactersInRanges on iOS 26+
  .github/agent-pr-session/pr-32045.md
  src/Controls/tests/TestCases.HostApp/Issues/Issue32016.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue32016.cs
  src/Core/src/Handlers/Entry/EntryHandler.iOS.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Fix #33420: Handle nullable types in QueryPropertyAttribute
  .github/agent-pr-session/pr-33420.md
  src/Controls/src/Core/Shell/ShellContent.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue33420.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue33420.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue33420.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Update PR review state file with PR #33429 details
  .github/agent-pr-session/pr-33429.md
Due: azure-pipelines.yml

Update state file with PR link
  .github/agent-pr-session/pr-33420.md
Due: azure-pipelines.yml

[XEXPR] Simplify Helix payload - skip MSBuild tests on Helix
  eng/helix.proj
  src/Controls/tests/Xaml.UnitTests/AssemblyInfoTests.cs
  src/Controls/tests/Xaml.UnitTests/MSBuild/MSBuildTests.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Replace UITests with unit tests for Issue26633
  src/Controls/tests/TestCases.HostApp/Issues/Issue26633.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue26633.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue26633.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Add retryTimeout to Issue10563 SwipeView screenshot tests
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue10563.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

[XSG] Fix NaN value in XAML generating invalid code (#33533)
  src/Controls/src/SourceGen/GeneratorHelpers.cs
  src/Controls/tests/SourceGen.UnitTests/Maui33532Tests.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui33532.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui33532.xaml.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Android pan fixes (#21547)
  src/Controls/src/Core/Platform/Android/InnerGestureListener.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Android.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue20772.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue20772.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

[iOS] Fix ObjectDisposedException in TraitCollectionDidChange on window disposal (#33353)
  .github/agent-pr-session/issue-33352.md
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellSectionRootRenderer.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/tests/TestCases.HostApp/Issues/Issue33352.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue33352.cs
  src/Core/src/Platform/iOS/PageViewController.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Improved Unfocus support for Picker on Mac Catalyst (#33127)
  .github/agent-pr-session/pr-33127.md
  src/Core/src/Handlers/Picker/PickerHandler.cs
  src/Core/src/Handlers/Picker/PickerHandler.iOS.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

[Templates] Remove redundant SemanticProperties.Description attribute (#33621)
  src/Templates/src/templates/maui-mobile/Pages/ProjectDetailPage.xaml
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml

[XSG] Fix Style Setters referencing source-generated bindable properties (#33562)
  src/Controls/src/SourceGen/NodeSGExtensions.cs
  src/Controls/src/SourceGen/SetterValueProvider.cs
  src/Controls/tests/SourceGen.UnitTests/InitializeComponent/BindablePropertyHeuristic.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Fix for BlazorWebView Back Navigation Issues on Android 13+ After Predictive Back Gesture Changes (#33213)
  src/BlazorWebView/src/Maui/Android/BlazorAndroidWebView.cs
  src/BlazorWebView/src/Maui/Android/BlazorWebViewHandler.Android.cs
  src/BlazorWebView/src/Maui/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/BlazorWebView/tests/DeviceTests/Elements/BlazorWebViewTests.BackNavigation.cs
  src/Core/src/LifecycleEvents/LifecycleEventService.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Remove InternalsVisibleTo attributes for .NET MAUI Community Toolkit (#33442)
  src/Controls/src/Core/Properties/AssemblyInfo.cs
  src/Controls/src/Xaml/Properties/AssemblyInfo.cs
  src/Core/src/Properties/AssemblyInfo.cs
  src/Essentials/src/AssemblyInfo/AssemblyInfo.shared.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

[Windows] Fix runtime theme update for controls and TitleBar (#31714)
  src/Controls/src/Core/Application/Application.Windows.cs
  src/Controls/src/Core/Application/Application.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue22058.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyTimePickerTheme.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyTitleBarBackgroundColorChange.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22058.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/DarkTheme_CheckBox_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/DarkTheme_DatePicker_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/DarkTheme_EditorAndPlaceholderColor_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/DarkTheme_Editor_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/DarkTheme_EntryAndPlaceholderColor_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/DarkTheme_Picker_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/DarkTheme_RadioButton_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/DarkTheme_SearchBarAndPlaceholderColor_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/DarkTheme_SearchBar_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/DarkTheme_Slider_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/DarkTheme_Switch_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/DarkTheme_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/EditorAndEntryInputFieldsShouldChangeColorsOnAppThemeChange.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/EntryAndEditorPlaceholderTextColorAppThemeBindingUpdatesOnDarkTheme.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/EntryAndEditorTextColorAppThemeBindingUpdatesOnDarkTheme.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/EntryClearButtonColorShouldUpdateOnThemeChange.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LightTheme_DatePicker_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LightTheme_EditorAndPlaceholderColor_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LightTheme_Editor_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LightTheme_EntryAndPlaceholderColor_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LightTheme_Picker_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LightTheme_RadioButton_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LightTheme_SearchBarAndPlaceholderColor_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LightTheme_SearchBar_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LightTheme_Slider_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LightTheme_Switch_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/PlaceholderColorShouldChange.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SearchbarColorsShouldUpdate.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ToolbarItemsShouldBeVisible.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifySwitchOffColorAfterTogglingDarkTheme.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyTimePickerTheme.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyTitleBarBackgroundColorChange.png
  src/Core/src/Platform/Windows/MauiWinUIWindow.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

[Android] Fix for CollectionView.EmptyView does not remeasure its height when the parent layout changes dynamically, causing incorrect sizing. (#33559)
  src/Controls/src/Core/Handlers/Items/ItemsViewHandler.Android.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/EmptyViewShouldRemeasureWhenParentLayoutChanges.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue33324.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue33324.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/EmptyViewShouldRemeasureWhenParentLayoutChanges.png
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

[Windows] Fix TitleBar.IsVisible = false the caption buttons become unresponsive (#33256)
  src/Controls/tests/TestCases.HostApp/Issues/Issue33171.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue33171.cs
  src/Core/src/Platform/Windows/WindowRootView.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

[iOS 26] Fix DisplayPromptAsync maxLength not enforced due to new multi-range delegate (#33616)
  src/Controls/src/Core/Platform/AlertManager/AlertManager.iOS.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Hide obsolete FontSize values from IDE autocomplete (#33694)
  src/Controls/src/Core.Design/FontSizeDesignTypeConverter.cs
  src/Controls/tests/Core.Design.UnitTests/Controls.Core.Design.UnitTests.csproj
  src/Controls/tests/Core.Design.UnitTests/FontSizeDesignTypeConverterTests.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

[iOS] SafeArea: Return Empty for non-ISafeAreaView views (opt-in model) (#33526)
  src/Controls/tests/TestCases.HostApp/Issues/Issue33458.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue33458.cs
  src/Core/src/Platform/iOS/MauiView.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

[iOS] Fix VoiceOver focus not shifting to Picker/DatePicker/TimePicker popups (#33152)
  .github/agent-pr-session/pr-33152.md
  src/Core/src/Handlers/DatePicker/DatePickerHandler.iOS.cs
  src/Core/src/Handlers/Picker/PickerHandler.iOS.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.iOS.cs
  src/Core/src/Platform/iOS/SemanticExtensions.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

[Android] Fixed CollectionView reordering last item (#17825)
  src/Controls/src/Core/Handlers/Items/Android/Adapters/ReorderableItemsViewAdapter.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue17823.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue17823.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue17823.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Fix unit test expectations: 200px (not 152px)
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

[iOS] Shell: Account for SafeArea when positioning flyout footer (#32891)
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellFlyoutContentRenderer.cs
  src/Controls/tests/TestCases.HostApp/Issues/XFIssue/HeaderFooterShellFlyout.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Fix integration tests skill to match dotnet cake behavior
  .github/skills/run-integration-tests/scripts/Run-IntegrationTests.ps1
Due: azure-pipelines.yml

[XEXPR] Fix LastIndexOfChar - char overload doesn't take StringComparison
  src/Core/src/Extensions/StringExtensions.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Fix OneTimeSetUp diagnostic attachments not visible in Azure DevOps
  src/TestUtils/src/UITest.NUnit/UITestBase.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Add PR comment skill documentation and scripts
  .github/skills/pr-comment/IMPROVEMENTS.md
  .github/skills/pr-comment/NO-EXTERNAL-REFERENCES-RULE.md
  .github/skills/pr-comment/SKILL.md
  .github/skills/pr-comment/scripts/post-pr-comment.ps1
  .github/skills/pr-comment/scripts/post-pr-finalize-comment.ps1
  .github/skills/pr-comment/scripts/post-try-fix-comment.ps1
  .github/skills/pr-comment/scripts/post-verify-tests-comment.ps1
  .github/skills/pr-comment/scripts/post-write-tests-comment.ps1
  .github/skills/pr-finalize/SKILL.md
Due: azure-pipelines.yml

Rename pr-comment skill to ai-summary-comment
  .github/skills/ai-summary-comment/IMPROVEMENTS.md
  .github/skills/ai-summary-comment/NO-EXTERNAL-REFERENCES-RULE.md
  .github/skills/ai-summary-comment/SKILL.md
  .github/skills/ai-summary-comment/scripts/post-ai-summary-comment.ps1
  .github/skills/ai-summary-comment/scripts/post-pr-finalize-comment.ps1
  .github/skills/ai-summary-comment/scripts/post-try-fix-comment.ps1
  .github/skills/ai-summary-comment/scripts/post-verify-tests-comment.ps1
  .github/skills/ai-summary-comment/scripts/post-write-tests-comment.ps1
Due: azure-pipelines.yml

Added documentation markdown file
  CharacterSpacing_Fix_Analysis.md
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

fix added
  src/Controls/src/Core/Picker/Picker.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-internal.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/azure-pipelines.yml, eng/pipelines/ci-device-tests.yml, eng/pipelines/ci-official.yml, eng/pipelines/ci-uitests.yml, eng/pipelines/ci.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release.yml, eng/pipelines/ui-tests.yml

Path conditions:
  azure-pipelines.yml: any file but: README.md
  eng/pipelines/azure-pipelines-internal.yml: any of: *, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/azure-pipelines-public.yml: any of: *, but not: **.md, eng/Version.Details.xml, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/azure-pipelines.yml: any of: *, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/ci-device-tests.yml: any of: *, but not: .github, docs, src/Templates, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/ci-official.yml: any of: *, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/ci-uitests.yml: any of: *, but not: .github, docs, src/Templates, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/ci.yml: any of: *, but not: **.md, eng/Version.Details.xml, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/device-tests.yml: any of: *, but not: .github, docs, src/Templates, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/handlers.yml: any of: *, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/maui-release.yml: any of: *, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/ui-tests.yml: any of: *, but not: .github, docs, src/Templates, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, THIRD-PARTY-NOTICES.TXT
