Repository dotnet/maui: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Path conditions:
  azure-pipelines.yml: any file but: README.md
  eng/pipelines/azure-pipelines-public.yml: any of: *, but not: **.md, eng/Version.Details.xml, .github, docs, LICENSE.TXT, PATENTS.TXT, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/device-tests.yml: any of: *, but not: .github, docs, src/Templates, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/handlers.yml: any of: *, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT
  eng/pipelines/maui-release-internal.yml: any of: *, but not: .github, docs, CODE-OF-CONDUCT.md, CONTRIBUTING.md, LICENSE.TXT, PATENTS.TXT, README.md, SECURITY.md, THIRD-PARTY-NOTICES.TXT

Update Core.csproj
  src/Core/src/Core.csproj
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Added snapshots
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/CarouselViewShouldRenderCorrectly.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/CarouselViewShouldRenderCorrectly.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/CarouselViewShouldRenderCorrectly.png
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Template tweaks
  src/Templates/src/templates/maui-mobile/PageModels/ProjectDetailPageModel.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Fix project saving and data seeding
  src/Templates/src/templates/maui-mobile/PageModels/ProjectDetailPageModel.cs
  src/Templates/src/templates/maui-mobile/Resources/Raw/SeedData.json
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Update TaskView.xaml.cs
  src/Templates/src/templates/maui-mobile/Pages/Controls/TaskView.xaml.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Update ProjectDetailPageModel.cs
  src/Templates/src/templates/maui-mobile/PageModels/ProjectDetailPageModel.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Template fixes (#25577)
  src/Templates/src/templates/maui-mobile/PageModels/ProjectDetailPageModel.cs
  src/Templates/src/templates/maui-mobile/Resources/Raw/SeedData.json
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Fix toast
  src/Templates/src/templates/maui-mobile/AppShell.xaml.cs
  src/Templates/src/templates/maui-mobile/PageModels/ProjectDetailPageModel.cs
  src/Templates/src/templates/maui-mobile/PageModels/TaskDetailPageModel.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Implement ScrollDownTo and ScrollUpTo methods in Appium
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue7167.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumScrollActions.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Update ManageMetaPageModel.cs
  src/Templates/src/templates/maui-mobile/PageModels/ManageMetaPageModel.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Fix toast (#25580)
  src/Templates/src/templates/maui-mobile/AppShell.xaml.cs
  src/Templates/src/templates/maui-mobile/PageModels/ManageMetaPageModel.cs
  src/Templates/src/templates/maui-mobile/PageModels/ProjectDetailPageModel.cs
  src/Templates/src/templates/maui-mobile/PageModels/TaskDetailPageModel.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Added ScrollDownTo method override using query
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Fix missing SeedData
  src/Templates/src/templates/maui-mobile/PageModels/ManageMetaPageModel.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

More changes
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

- remove if/def
  src/Templates/src/templates/maui-mobile/AppShell.xaml.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Increment build targets to iOS 18
  Directory.Build.props
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

- additional bumps
  .config/dotnet-tools.json
  eng/Versions.props
  eng/devices/ios.cake
  eng/pipelines/device-tests.yml
  eng/pipelines/ui-tests.yml
  src/Controls/tests/TestCases.Shared.Tests/UITest.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

- increment xcode
  eng/pipelines/common/variables.yml
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Update Version.Details.xml
  eng/Version.Details.xml
Due: azure-pipelines.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

[housekeeping] Update & Consolidate Appium + driver versions (#24817)
  eng/Versions.props
  eng/scripts/appium-install.ps1
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Update EmbeddedFontLoader.iOS.cs
  src/Core/src/Fonts/EmbeddedFontLoader.iOS.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Update UITest.cs
  src/Controls/tests/TestCases.Shared.Tests/UITest.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Update Versions.props
  eng/Versions.props
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Update dotnet-tools.json
  .config/dotnet-tools.json
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

- fix logs
  eng/devices/ios.cake
  eng/devices/uitests-shared.cake
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Update NuGet.config
  NuGet.config
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

- CA1422
  src/Controls/samples/Controls.Sample.Embedding/Platforms/MacCatalyst/NewTaskSceneDelegate.cs
  src/Graphics/samples/GraphicsTester.Mac/MainWindow.cs
  src/Graphics/samples/GraphicsTester.Skia.Mac/MainWindow.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

More fixes
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

More changes
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue7167.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Bump aspnet 8.0.10
  eng/Versions.props
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Fix task clearing
  src/Templates/src/templates/maui-mobile/Pages/Controls/TaskView.xaml.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Fix task clearing (#25588)
  src/Templates/src/templates/maui-mobile/Pages/Controls/TaskView.xaml.cs
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Bump ASPNet Versions
  eng/Versions.props
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml

Bump aspnet 8.0.10 (#25586)
  eng/Versions.props
Due: azure-pipelines.yml, eng/pipelines/azure-pipelines-public.yml, eng/pipelines/device-tests.yml, eng/pipelines/handlers.yml, eng/pipelines/maui-release-internal.yml
